extends layout

block links
  ul.nav.navbar-nav
    li.active
      a(href='/') Home
    li
      a(href='/about') About
    li
      a(href='/contact') Contact

block content 
  .jumbotron
  h1.display-4 #{one} to my website!
  p.lead
    | This website is a simple design for my Node.js project in nodemailer.
  hr.my-4
  p
    | This allows you to send messages directly from the page and the message will be automatically sent to my email so that i can reply right away.
  p.lead
    a.btn.btn-primary.btn-sm(href='#', role='button') Learn more
  br
  br
  .container  
    form(method='post', action='index/send')
      h1 #{two}
      .form-group
        label Name
        input.form-control(type='text',
        name='name', placeholder='Enter Name')
      .form-group 
        label Email
        input.form-control(type='email'
        name='email', placeholder='Enter Email')
      .form-group
        label Message
        textarea.form-control(name='message',
        placeholder='Enter Message')
      button.btn.btn-primary(type='submit') Submit